<ion-header>
  <ion-toolbar>
    <ion-title class="text_titulo">Productos </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="menu()">
        <ion-icon slot="icon-only" name="menu-outline">
        </ion-icon>
      </ion-button>

      <ion-button (click)="nuevoProducto()">
        <ion-icon slot="icon-only" name="duplicate-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>



</ion-header>
<ion-content>
  <div class="alert alert-primary text_subtitulo" role="alert">
    Configuracion de productos
  </div>



<div *ngIf="enableNuevo">
  <ion-list>
    <ion-item>
      <ion-buttons slot="end">
        <ion-button (click)="enableNuevo=false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input  [(ngModel)]="newproducto.nombre" type="text" placeholder="Nombre del Producto"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input [(ngModel)]="newproducto.descripcion" type="text" placeholder="Descripcion del Producto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input [(ngModel)]="newproducto.stock" type="number" placeholder="Unidades del Producto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="newproducto.precio" type="numer" placeholder="Precio del Producto"></ion-input>
    </ion-item>

    <ion-item>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" (click)="guardarProducto()">Guardar</button>
      </div>
    </ion-item>

  </ion-list>
</div>

  <ion-list>
    <ion-item *ngFor="let registro of productos">
      <ion-label>{{registro.nombre}}</ion-label>
      <ion-label>{{registro.stock}}</ion-label>
      <ion-buttons>
        <ion-button (click)="newproducto=registro ; enableNuevo = true">
          <ion-icon slot="icon-only" name="create-outline" color="primary"></ion-icon>
        </ion-button>
        <ion-button (click)="presentAlertConfirm(registro)">
          <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
