<ion-header>
  <ion-toolbar>
    <ion-title class="text_titulo">Scanner </ion-title>
    <ion-buttons slot="start">

      <ion-button (click)="menu()">
        <ion-icon slot="icon-only" name="menu-outline">
        </ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

  <ion-button (click)="scanear()">
    <ion-icon slot="icon-only" name="scan-outline">
    </ion-icon>
  </ion-button>
</ion-header>

<ion-content>

  <label>Codigo del Producto: {{code}}</label>

  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-label>Stock</ion-label>
      <ion-label>Precio</ion-label>
    </ion-item>
    <ion-item *ngFor="let registro of prod">
      <ion-label>{{registro.nombre}}</ion-label>
      <ion-label>{{registro.stock}}</ion-label>
      <ion-label>{{registro.precio}}</ion-label>     
    </ion-item>
    <ion-item *ngFor="let registro of prod">
      <label>Descripcion: {{registro.descripcion}}</label>
    </ion-item>
  </ion-list>

</ion-content>
